 html, textarea, input {
            background-color: transparent;
            color:#333333;
        }
        body { background: #FFFFFF; }
        html, body, p {
            font-family: "Helvetica";  
            margin: 0px;
        }
        div {
            z-index:10001;
            font-weight: bold;
			color: #333333;
			position: absolute;
        }

        #prompt{
			padding-top: 200px;
            color: #333333;
            font-size: 40pt;
			width: 320px;
			font-family: 'Helvetica', sans-serif;
        }

		input {
		width: 100%;
		}
	#gamearea {
	    position: absolute;
	    left: 500px;
	    top: 125px;
	}
	#instructions {
	    position: absolute;
	    left: 20px;
	    top: 100px;
	}	
	#userimg {
	    float: left;
	}
        #chatinput, #chatlog {
            visibility: hidden;
            position:absolute;
            width:600;
			top: 875;
			left: 610;
        }
        #chatarea {
            width:600;
            height:20;
            margin-left:-300;
            text-align: center;
            bottom:5%;
            left: 50%;
			cursor: none;
        }
        #chatlog {
            height: 132;
        }
	#frame {
		position: absolute;
		left: 475px;
		top: 100px;
	}
	#winner {
		float: left;
		left: 500px;
		top: 125px;
	}
	#loser {
		left: 500px;
		top: 125px;
		float: left;
	}
		#numusers {
		font-family: 'Helvetica', sans-serif;
		position:absolute;
		top: 15;
		left: 250;
		}
	#state {
		position:absolute;
		top: 25;
		left: 1300;
	}
	#voter {
		font-family: 'Helvetica', sans-serif;
		width: 300;
		position:absolute;
		top: 100;
		left: 1300;
		text-align: left;
		font-size: 23;
	}
		canvas {
		float: center;
		cursor: none;
		margin-left: auto;
		margin-right: auto;
		}
			
        .debug{
            display:none;
            left: 10px;
        }
        .error{
            width:400px;
            margin-left:-150px;
            left:50%;
            bottom:40px;
        }
        .general{
            margin-left:auto;
			margin-right:auto;
			padding-left: 20px;
			padding-top: 10px;
			font-size: 36px;
			
        }
	.centerPane{
		width: 700px;
		left: 500px;
		font-size: 23px;
		color: #333333;
		font-family: 'Helvetica', 			sans-serif;
		top: 25px;
		text-align: center;
	}